::before
::after {
    box-sizing: border-box;
}

body {
     font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #aad4cf;
  margin: 0;
  padding: 0;
}

.wrapper {
    background-color: aliceblue;
    width: 600px;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    padding-left: 0;
}


nav ul li {
    display: inline-block;
    width: 75px;
    border-right: 1px solid#555;
}

nav ul li:last-child {
    border-right: none;
 /* visibility: hidden; */
}

.box-model {
    background-color: rgb(238, 245, 108);
    width: 600px;
}

.box-model :first-child {
    width: 300px;
    background:  rgb(255, 60, 0);
}

.box-model :last-child {
    width: 300px;
    background-color: rgb(255, 174, 0);
}

.box {
    float: left;
    padding: 10px;
    /*margin: 20px 100px;*/
    border: 4px dotted red;
}

.image {
    height: 100px;
    width: 100px;
    float: left;
}

hr {
    clear: left;
}


.stage {
    height: 500px;
    width: 500px;
    background-color: rgb(245, 212, 161);
    position: relative;
}

.prop {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 10px;
    left: 250px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}